asgiref==3.9.1
asteval==1.0.6
black==25.1.0
click==8.2.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.4
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
djlint==1.36.4
drf-yasg==1.21.10
EditorConfig==0.17.0
et_xmlfile==2.0.0
flake8==7.3.0
inflection==0.5.1
iniconfig==2.1.0
jsbeautifier==1.15.4
json5==0.12.0
mccabe==0.7.0
mypy_extensions==1.1.0
mysql-connector-python==9.3.0
mysqlclient==2.2.7
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.8
pluggy==1.6.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.9.0
PyMySQL==1.1.1
pytest==8.4.1
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
uritemplate==4.2.0
